.home .navbar {
    display: none;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px) scale(1.025);
}

.card button {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.card button:hover {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.25);
    background-color: #e6e6e6;
}