.home .navbar {
    display: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vw);
  gap: 1.5rem;
  text-align: center;
  justify-content: center;
}

.project-card-grid {
  grid-template-columns: repeat(auto-fit, 30vw);
  margin-bottom: 50px;
}

.project-card-grid a {
  text-decoration: none;
  color: inherit;
}

.project-card-grid a h2 {
  transition: opacity 0.3s ease;
}

.project-card-grid a:hover h2 {
  opacity: 80%;
}

.project-card-grid .card__image {
  max-width: 25vw;
}

.card__image {
  padding-top: 0;
  margin-top: var(--ifm-card-vertical-spacing);
  border-radius: var(--ifm-card-border-radius);
}

.card {
  transition: transform 0.3s ease;
  padding-bottom: 20px;
}

.card:hover {
  transform: translateY(-6px) scale(1.025);
}

.card button {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.card button:hover {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.25);
    background-color: #e6e6e6;
}