.home .navbar {
    display: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20vw);
  gap: 1.5rem;
  text-align: center;
  justify-content: center;
}

.project-card-grid {
  margin-bottom: 50px;
}

.project-card-grid a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
}

.project-card-grid a:hover {
  opacity: 80%;
}

.card {
  transition: transform 0.3s ease;
  padding-bottom: 10px;
}

.card:hover {
  transform: translateY(-6px) scale(1.025);
}

.card button {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.card button:hover {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.25);
    background-color: #e6e6e6;
}